<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet/less" type="text/css" href="/static/fonts/static/font.css">
    <link rel="stylesheet/less" type="text/css" href="/static/css/front/style.less">
    <script src="/static/js/less.js"></script>
</head>
<body>
<section class="slider">
    <section class="navbar max-content margin">
        <a href=""><img src="/static/img/front/logo.png" alt=""></a>
        <div class="menu">
            <a href="" class="active">Главная</a>
            <a href="">Туры</a>
            {% if user.is_authenticated %}
                <a href="{% url 'edit_profile' %}" class="profile">
                    <div style="display: inline-block; background-size: cover; background-position: center;width:35px; height: 35px; border: none; border-radius: 100%; background-image: url('{{ user.image.url }}')"></div>
                    <span style="vertical-align: center">{{ user.name }}</span>
                </a>
                <a href="{% url 'logout_user' %}"><img src="/static/img/front/exit.png" alt=""></a>
            {% else %}
                <p onclick="ShowAuthorization()">Личный кабинет</p>
            {% endif %}
        </div>
    </section>
    <div class="slide"></div>
</section>
<section class="content">
    <div class="personal-trip-form max-content">
        <h3>Создайте свой индивидуальный тур</h3>
        <form action="">
            <div class="custom-input">
                <input type="text" value="Абхазия">
            </div>
            <input type="text" value="Лето">
            <button>Найти</button>
        </form>
    </div>
    <div class="popular-trip max-content">
        <div><h4>Популярные туры</h4> <small>Смотреть все</small></div>
        <div class="popular-trips">
            {% for trip in trips %}
                <div class="block-trip" style="background-image: url('{{ trip.image.url }}')">
                    <div class="image"></div>
                    <div class="block-content-trip">
                        <h5>{{ trip.title }}</h5>
                        {% if trip.price %}
                            <small><img src="/static/img/front/money.png" alt=""> &nbsp;{{ trip.price }}</small>
                        {% endif %}
                        <p>{{ trip.description|truncatewords:50 }}</p>
                        <a href="">
                            <button>Подробнее</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {# Блок для чего-то #}
    <div></div>
    <div class="gallery">

    </div>
</section>
<section class="feedback">
    <form action="">
        <div></div>
    </form>
</section>
<section class="footer">

</section>
{% block modalwindow %}
    <section class="modal-block">
        <div class="modal-window login-form">
            <h4>Авторизация</h4>
            <form action="{% url 'login_user' %}" method="post">
                {% csrf_token %}
                <label for="">
                    <input type="text" name="email" placeholder="Логин">
                </label>
                <label for="" class="password">
                    <input type="password" name="password1" placeholder="Пароль">
                </label>
                <button>Войти</button>
            </form>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>
    </section>
{% endblock %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/front/authorization.js"></script>
</body>
</html>