<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Места</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" href="/static/fonts/static/font.css">
    <link rel="stylesheet/less" type="text/css" href="/static/css/place/style.less">
    <script src="/static/js/less.js"></script>
</head>
<body>
<section class="slider">
    <section class="navbar">
        <div class="max-content margin">
            <a href="{% url 'front' %}"><img src="/static/img/front/logo.svg" alt="" height="40"></a>
            <div class="menu">
                <a href="{% url 'front' %}" class="active">Главная</a>
                <a href="{% url 'trip' %}">Туры</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'user' %}" class="profile">
                        <div style="display: inline-block; background-size: cover; background-position: center;width:35px; height: 35px; border: none; border-radius: 100%; background-image: url('{{ user.image.url }}')"></div>
                        <span style="vertical-align: center">{{ user.name }}</span>
                    </a>
                    <a href="{% url 'logout_user' %}"><img src="/static/img/front/exit.png" alt=""></a>
                {% else %}
                    <p onclick="ShowAuthorization()">Личный кабинет</p>
                {% endif %}
            </div>
        </div>

    </section>

    <div class="slide"></div>
    <div class="max-content">
        <div class="slide-title max-content">
            <div class="slide-left-box">
                <div class="slide-title-text">
                    <h2>КАТАЛОГ МЕСТ</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="personal-trip-form max-content">
        <h3>Найдите подходящий тур</h3>
        <form action="">
            <div class="custom-input">
                <input type="text" value="Абхазия">
            </div>
            <input type="text" value="Лето">
            <input type="text" value="Активный отдых">
            <button class="button">Найти</button>
        </form>
    </div>
    <div class="content-place max-content">
        <div class="left-filters-menu">
            <h3>Фильтры</h3>
            <form action="">
                <div class="season">
                    <div class="season-check">
                        <p>Сезон</p>
{#                        <div class="line">___</div>#}
                    </div>
                    <div class="season-drop-block">
                        <div class="group-items">
                            <div class="form_radio_btn">
                                <input  id="radio-season-1" type="radio" name="season-group" value="Зима">
                                <label for="radio-season-1">Зима</label>
                            </div>
                            <div class="form_radio_btn">
                                <input id="radio-season-2" type="radio" name="season-group" value="Весна">
                                <label for="radio-season-2">Весна</label>
                            </div>
                            <div class="form_radio_btn">
                                <input id="radio-season-3" type="radio" name="season-group" value="Лето">
                                <label for="radio-season-3">Лето</label>
                            </div>
                        </div>
                        <div class="group-items">
                            <div class="form_radio_btn">
                                <input id="radio-season-4" type="radio" name="season-group" value="Осень">
                                <label for="radio-season-4">Осень</label>
                            </div>
                            <div class="form_radio_btn">
                                <input id="radio-season-5" type="radio" name="season-group" value="Круглый год">
                                <label for="radio-season-5">Круглый год</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator-line"></div>
                <div class="city">
                    <div class="city-check">
                        <p>Город</p>
{#                        <div class="line">___</div>#}
                    </div>
                    <div class="city-drop-block">
                        <div class="city-group-items">
                            <div class="city-form_radio_btn">
                                <input id="radio-city-1" type="radio" name="city-group" value="Ялта">
                                <label for="radio-city-1">Ялта</label>
                            </div>
                            <div class="city-form_radio_btn">
                                <input id="radio-city-2" type="radio" name="city-group" value="Керчь">
                                <label for="radio-city-2">Керчь</label>
                            </div>
                            <div class="city-form_radio_btn">
                                <input id="radio-city-3" type="radio" name="city-group" value="Евпатория">
                                <label for="radio-city-3">Евпатория</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator-line"></div>
                <div class="type-place">
                    <div class="type-place-check">
                        <p>Тип места</p>
{#                        <div class="line">___</div>#}
                    </div>
                    <div class="type-place-drop-block">
                        <div class="group-items">
                            <div class="form_radio_btn">
                                <input id="radio-type-place-1" type="radio" name="type-place-group" value="Музеи">
                                <label for="radio-type-place-1">Музеи</label>
                            </div>
                            <div class="form_radio_btn">
                                <input id="radio-type-place-2" type="radio" name="type-place-group" value="Пляжи">
                                <label for="radio-type-place-2">Пляжи</label>
                            </div>
                            <div class="form_radio_btn">
                                <input id="radio-type-place-3" type="radio" name="type-place-group" value="Парки">
                                <label for="radio-type-place-3">Парки</label>
                            </div>
                        </div>
                         <div class="group-items">
                            <div class="form_radio_btn">
                                <input id="radio-type-place-4" type="radio" name="type-place-group" value="Горы">
                                <label for="radio-type-place-4">Горы</label>
                            </div>
                            <div class="form_radio_btn">
                                <input id="radio-type-place-5" type="radio" name="type-place-group" value="Для прогулок">
                                <label for="radio-type-place-5">Для прогулок</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator-line"></div>
                <div class="tags">
                    <div class="tags-check">
                        <p>Тэги</p>
{#                        <div class="line">___</div>#}
                    </div>
                    <div class="tags-drop-block">
                         <div class="group-items">
                            <div class="form_radio_btn">
                                <input id="radio-tags-1" type="radio" name="tags-group" value="Музеи">
                                <label for="radio-tags-1">Музеи</label>
                            </div>
                            <div class="form_radio_btn">
                                <input id="radio-tags-2" type="radio" name="tags-group" value="Пляжи">
                                <label for="radio-tags-2">Пляжи</label>
                            </div>
                            <div class="form_radio_btn">
                                <input id="radio-tags-3" type="radio" name="tags-group" value="Парки">
                                <label for="radio-tags-3">Парки</label>
                            </div>
                        </div>
                         <div class="group-items">
                            <div class="form_radio_btn">
                                <input id="radio-tags-4" type="radio" name="tags-group" value="Горы">
                                <label for="radio-tags-4">Горы</label>
                            </div>
                            <div class="form_radio_btn">
                                <input id="radio-tags-5" type="radio" name="tags-group" value="Для прогулок">
                                <label for="radio-tags-5">Для прогулок</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator-line"></div>
                <button class="button">Показать</button>
                <div class="reset-filters">
                    <p>х</p>
                    <h5>Сбросить фильтры</h5>
                </div>
            </form>
        </div>
        <div class="list-of-places">
             <h3>Места</h3>
             <div class="card-place">
                {% for place in places %}
                    <div class="block-place" style="background-image: url('{{ place.one_image.img.url }}')">
                        <div class="image"></div>
                        {% if user.is_authenticated %}
                        <div class="like">
                            {% if place.favouriteplace_set.count != 0 %}
                                <img onclick="CheckFavouritePlace(this, {{ place.id }})"
                                     src="/static/img/front/like-active.svg" alt=""
                                     height="40px">
                            {% else %}
                                <img onclick="CheckFavouritePlace(this, {{ place.id }})"
                                     src="/static/img/front/like.svg" alt="">
                            {% endif %}
                        </div>
                    {% endif %}
                        <div class="block-content-place">
                            <h5>{{ place.title }}</h5>
                            <div class="place-action">
                                <a href="{% url 'page_of_place' place.id %}">
                                    <button>Подробнее</button>
                                </a>
                                {% if user.is_authenticated %}
                                    <div onclick="AddPlaceToTrip({{ place.id }})">
                                        <img src="/static/img/front/add.png" alt="">
                                    </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
    </div>
</section>

<section class="footer">
    <div class="max-content footer-content">
        <div class="footer-block">
            <a href="{% url 'front' %}">Главная</a>
            <a href="{% url 'trip' %}">Туры</a>
            <a href="{% url 'place' %}">Места</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user' %}">Личный кабинет</a>
            {% else %}
                <p onclick="ShowAuthorization()">Личный кабинет</p>
            {% endif %}
        </div>
        <div class="footer-block">
            <a href="" class="icon tg">+7 978 701 31 02</a>
            <a href="" class="icon tg">+7 978 701 31 02</a>
        </div>
        <div class="footer-block">
            <a href="" class="icon mail">office_windtravel@mail.ru</a>
            <a href=""><img src="/static/img/front/vkF.svg" alt=""></a>
        </div>
    </div>
</section>

{% block modalwindow %}
    <section class="modal-block">
        <div class="modal-window login-form">
            <h4>Авторизация</h4>
            <form action="{% url 'login_user' %}" method="post">
                {% csrf_token %}
                <label for="">
                    <input type="text" name="email" placeholder="Логин">
                </label>
                <label for="" class="password">
                    <input type="password" name="password1" placeholder="Пароль">
                    <img src="/static/img/front/eye.png" alt="">
                </label>
                <button>Войти</button>
            </form>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>
        <div class="modal-window add-to-trip">
            {% csrf_token %}
            <h4>Добавить место в тур</h4>
            <div>
                <span>Созданные туры</span>
                <div class="trips">
                    {% for trip in user_trips %}
                        <div>
                            <div class="image" style="background-image: url('{{ trip.image.img.url }}')"></div>
                            <div>
                                <p>{{ trip.title|truncatechars:15 }}</p>
                                <button onclick="AddPlaceToTripModal(this, {{ trip.id }})">Добавить</button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="create-trip" onclick="CreateTripModal(this, $('.add-to-trip').attr('data-id_place'))">
                        <img src="/static/img/front/create_add.svg" alt="">
                        Создать тур
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-window create-trip">
            <h4>Создать тур</h4>
            <form id="trip-form" action="{% url 'create_trip_add_place' %}" method="post">
                {% csrf_token %}
                <div class="hidden">
                    <input type="text" name="place_id">
                </div>
                <label for="{{ user_trip_form.title.id_for_label }}">
                    <p>{{ user_trip_form.title.label }}</p>
                    {{ user_trip_form.title }}
                </label>
                <label for="{{ user_trip_form.description.id_for_label }}">
                    <p>{{ user_trip_form.description.label }}</p>
                    {{ user_trip_form.description }}
                </label>
                <button class="save-btn">Сохранить</button>
            </form>
        </div>
    </section>
{% endblock %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/front/authorization.js"></script>
<script src="/static/js/front/favourite.js"></script>
<script src="/static/js/user/pagination.js"></script>
<script src="/static/js/front/add_to_tripe.js"></script>
</body>
</html>